.home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .div {
  background-color: #ffffff;
  border: 1px none;
  height: 3370px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.home-page .navigation {
  height: 310px;
  left: 0;
  position: absolute;
  top: 3060px;
  width: 1446px;
}

.home-page .overlap-group {
  height: 310px;
  position: relative;
  width: 1440px;
}

.home-page .divider {
  background-color: #e5e5e5;
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.home-page .staycation {
  color: transparent;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 26px;
  font-weight: 500;
  left: 150px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
}

.home-page .text-wrapper-2 {
  color: #3252df;
}

.home-page .text-wrapper-3 {
  color: #152c5b;
}

.home-page .we-kaboom-your {
  color: #b0b0b0;
  font-family: "Poppins-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 150px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 98px;
}

.home-page .p {
  color: #b0b0b0;
  font-family: "Poppins-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 537px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 236px;
}

.home-page .group {
  height: 135px;
  left: 540px;
  position: absolute;
  top: 51px;
  width: 177px;
}

.home-page .text-wrapper-4 {
  color: #152c5b;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 137px;
}

.home-page .text-wrapper-5 {
  color: #b0b0b0;
  font-family: "Poppins-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 47px;
}

.home-page .text-wrapper-6 {
  color: #b0b0b0;
  font-family: "Poppins-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 79px;
}

.home-page .text-wrapper-7 {
  color: #b0b0b0;
  font-family: "Poppins-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 111px;
}

.home-page .group-2 {
  height: 135px;
  left: 779px;
  position: absolute;
  top: 51px;
  width: 161px;
}

.home-page .group-3 {
  height: 135px;
  left: 1002px;
  position: absolute;
  top: 51px;
  width: 233px;
}

.home-page .most-picked {
  height: 516px;
  left: 149px;
  position: absolute;
  top: 678px;
  width: 1144px;
}

.home-page .text-wrapper-8 {
  color: #152c5b;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.home-page .featured {
  height: 460px;
  left: 1px;
  position: absolute;
  top: 56px;
  width: 365px;
}

.home-page .overlap-group-2 {
  background-image: url(./rectangle-3.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 460px;
  position: relative;
  width: 361px;
}

.home-page .overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 15px;
  height: 460px;
  left: 0;
  position: absolute;
  top: 0;
  width: 361px;
}

.home-page .badge-instance {
  left: 181px !important;
  position: absolute !important;
  top: 0 !important;
}

.home-page .text-wrapper-9 {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 383px;
}

.home-page .text-wrapper-10 {
  color: #ffffff;
  font-family: "Poppins-Light", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 413px;
}

.home-page .overlap-wrapper {
  height: 215px;
  left: 391px;
  position: absolute;
  top: 56px;
  width: 365px;
}

.home-page .overlap {
  background-image: url(./rectangle-3-4.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 215px;
  position: relative;
  width: 361px;
}

.home-page .overlay-2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 15px;
  height: 215px;
  left: 0;
  position: absolute;
  top: 0;
  width: 361px;
}

.home-page .text-wrapper-11 {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 138px;
}

.home-page .text-wrapper-12 {
  color: #ffffff;
  font-family: "Poppins-Light", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 168px;
}

.home-page .overlap-group-wrapper {
  height: 215px;
  left: 781px;
  position: absolute;
  top: 56px;
  width: 365px;
}

.home-page .overlap-2 {
  background-image: url(./rectangle-3-3.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 215px;
  position: relative;
  width: 361px;
}

.home-page .div-wrapper {
  height: 215px;
  left: 391px;
  position: absolute;
  top: 301px;
  width: 365px;
}

.home-page .overlap-3 {
  background-image: url(./image.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 215px;
  position: relative;
  width: 361px;
}

.home-page .featured-2 {
  height: 215px;
  left: 781px;
  position: absolute;
  top: 301px;
  width: 365px;
}

.home-page .overlap-4 {
  background-image: url(./rectangle-3-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 215px;
  position: relative;
  width: 361px;
}

.home-page .house-with-backyard {
  height: 305px;
  left: 149px;
  position: absolute;
  top: 1264px;
  width: 1144px;
}

.home-page .div-2 {
  height: 249px;
  left: 1px;
  position: absolute;
  top: 56px;
  width: 267px;
}

.home-page .badge-wrapper {
  background-image: url(./rectangle-3-5.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.home-page .design-component-instance-node {
  left: 83px !important;
}

.home-page .text-wrapper-13 {
  color: #152c5b;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 196px;
}

.home-page .text-wrapper-14 {
  color: #b0b0b0;
  font-family: "Poppins-Light", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 226px;
}

.home-page .div-3 {
  height: 249px;
  left: 293px;
  position: absolute;
  top: 56px;
  width: 267px;
}

.home-page .pic {
  background-image: url(./rectangle-3-6.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.home-page .div-4 {
  height: 249px;
  left: 586px;
  position: absolute;
  top: 56px;
  width: 267px;
}

.home-page .pic-2 {
  background-image: url(./rectangle-3-7.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.home-page .div-5 {
  height: 249px;
  left: 879px;
  position: absolute;
  top: 56px;
  width: 267px;
}

.home-page .pic-3 {
  background-image: url(./rectangle-3-8.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.home-page .hotels-living-room {
  height: 305px;
  left: 149px;
  position: absolute;
  top: 1639px;
  width: 1144px;
}

.home-page .pic-4 {
  background-image: url(./rectangle-3-9.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.home-page .pic-5 {
  background-image: url(./rectangle-3-11.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.home-page .pic-6 {
  background-image: url(./rectangle-3-12.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.home-page .badge-instance-wrapper {
  background-image: url(./rectangle-3-10.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.home-page .hotels-living-room-2 {
  height: 305px;
  left: 149px;
  position: absolute;
  top: 2014px;
  width: 1144px;
}

.home-page .pic-7 {
  background-image: url(./rectangle-3-13.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.home-page .pic-8 {
  background-image: url(./rectangle-3-14.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.home-page .overlap-group-3 {
  background-image: url(./rectangle-3-15.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.home-page .pic-9 {
  background-image: url(./rectangle-3-16.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 263px;
}

.home-page .happy-story {
  height: 541px;
  left: 150px;
  position: absolute;
  top: 2419px;
  width: 1058px;
}

.home-page .foto-keluarga {
  height: 541px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 405px;
}

.home-page .overlap-group-4 {
  height: 502px;
  position: relative;
}

.home-page .frame {
  border: 2px solid;
  border-color: #e5e5e5;
  border-radius: 15px;
  height: 487px;
  left: 49px;
  position: absolute;
  top: 0;
  width: 356px;
}

.home-page .picture {
  height: 502px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 366px;
}

.home-page .group-4 {
  height: 351px;
  left: 462px;
  position: absolute;
  top: 95px;
  width: 602px;
}

.home-page .text-wrapper-15 {
  color: #152c5b;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.home-page .what-a-great-trip {
  color: #152c5b;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 120px;
}

.home-page .text-wrapper-16 {
  color: #b0b0b0;
  font-family: "Poppins-Light", Helvetica;
  font-size: 18px;
  font-weight: 300;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 224px;
}

.home-page .btn-primary-instance {
  left: 4px !important;
  position: absolute !important;
  top: 301px !important;
}

.home-page .group-5 {
  height: 36px;
  left: 0;
  position: absolute;
  top: 76px;
  width: 180px;
}

.home-page .ic-star {
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 36px;
}

.home-page .img {
  height: 36px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 36px;
}

.home-page .ic-star-2 {
  height: 36px;
  left: 72px;
  position: absolute;
  top: 0;
  width: 36px;
}

.home-page .ic-star-3 {
  height: 36px;
  left: 108px;
  position: absolute;
  top: 0;
  width: 36px;
}

.home-page .ic-star-4 {
  height: 36px;
  left: 144px;
  position: absolute;
  top: 0;
  width: 36px;
}

.home-page .hero {
  height: 458px;
  left: 150px;
  position: absolute;
  top: 150px;
  width: 1140px;
}

.home-page .content {
  height: 458px;
  left: 0;
  position: absolute;
  top: 0;
  width: 426px;
}

.home-page .forget-busy-work {
  color: #152c5b;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 42px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.home-page .we-provide-what-you {
  color: #b0b0b0;
  font-family: "Poppins-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: 27.2px;
  position: absolute;
  top: 146px;
}

.home-page .btn-primary-2 {
  left: 0 !important;
  position: absolute !important;
  top: 257px !important;
}

.home-page .item {
  height: 69px;
  left: 0;
  position: absolute;
  top: 389px;
  width: 129px;
}

.home-page .img-2 {
  height: 32px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 32px;
}

.home-page .element-travelers {
  color: transparent;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 27.2px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.home-page .text-wrapper-17 {
  color: #152c5b;
  font-weight: 500;
}

.home-page .text-wrapper-18 {
  color: #b0b0b0;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
}

.home-page .item-2 {
  height: 69px;
  left: 329px;
  position: absolute;
  top: 389px;
  width: 86px;
}

.home-page .div-6 {
  color: transparent;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: 27.2px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.home-page .item-3 {
  height: 69px;
  left: 178px;
  position: absolute;
  top: 389px;
  width: 103px;
}

.home-page .banner {
  height: 450px;
  left: 581px;
  position: absolute;
  top: 0;
  width: 559px;
}

.home-page .overlap-group-5 {
  height: 450px;
  position: relative;
}

.home-page .frame-2 {
  border: 2px solid;
  border-color: #e5e5e5;
  border-radius: 15px;
  height: 398px;
  left: 53px;
  position: absolute;
  top: 52px;
  width: 506px;
}

.home-page .picture-2 {
  height: 411px;
  left: 0;
  position: absolute;
  top: 0;
  width: 520px;
}

.home-page .navigation-header {
  height: 88px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1440px;
}
